*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    perspective: 600px;
    padding: 0 50px;
    background-color: #383434;
    font-family: sans-serif;
}

.clear-fl{
    
    clear: both;
}

/*  Start Nav-Bar   */

.nav-bar{
    
    background-image: url(../images/nzmnvbtbff5x.jpg);
    background-size: cover;
    width: 100%;
    height: 550px;
    text-align: center;
}

.nav-bar header{ height: 91px; border-bottom: 1px solid #5A5959; }

.nav-bar header .container{ height: 500px; padding-top: 30px; }

.nav-bar header .container span:first-child{
    
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
    background-color: #12739e;
    box-shadow: 7px 5px #c7cbce;
    transition: all .5s ease-in-out; 
}

.nav-bar header .container span:first-child:hover{ transform:  translateX(-20px) scale(1.1) }

.nav-bar header .container nav ul{
    
    display: inline-block;
    list-style: none;
    height: 40px;
    padding: 20px;
    margin-left: 100px;
    float: left;
}

.nav-bar header .container nav ul li{ display: inline; padding: 20px; }

.nav-bar header .container nav ul li:hover,
.nav-bar header .container nav ul li.active{border-bottom: 4px solid #12739e; cursor: pointer; }

.nav-bar header .container nav ul li a{color: #fff;text-decoration: none;}

.nav-bar header .container .social{ display: inline-block; float: left; margin-top: 20px; }

.nav-bar header .container .social a{ margin-left: 15px;color: #fff; }

.nav-bar header .container .social a i{ transition: all .5s ease-in-out; }

.nav-bar header .container .social a i:hover{ transform: scale(1.5); color: #12739e; }

.nav-bar header .container .creatives{ margin-top: 100px; color: #fff; }

.nav-bar header .container .creatives h1, .nav-bar header .container .creatives h5{ text-transform: uppercase;}

.nav-bar header .container .creatives h1{  width: 50%; margin: 0 auto; font-size: 85px;  transition: all 1s ease-in-out;}

.nav-bar header .container .creatives h1:hover{ cursor: pointer; transform: rotateY(360deg)}

.nav-bar header .container .creatives h5{ color: #12739e; letter-spacing: 9px; margin-bottom: 50px; }

.nav-bar header .container .creatives span:first-of-type{ display: block; font-size: 10px; margin-bottom: 15px; }

.nav-bar header .container .creatives span:last-of-type{
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 40px;
    transition: all .5s ease-in-out;
}

.nav-bar header .container .creatives span:last-of-type:hover{ cursor: pointer; background-color: #12739e; }

/*  End Nav-Bar   */

/*  Start Awesome Agency    */

.Awesome { color: #fff; background-color: #12739e; width: 100%; height: 650px; padding-top: 50px; }

.Awesome .container .features{ width: 100%; height: 250px; margin-top: 40px; display: flex;}

.Awesome .container .features div{
    
    width: 25%;
    display: inline-block;
    float: left;
    margin-left: 7px;
    text-align: center;
}

.Awesome .container .features div span{
    
    display: block;
    text-align: center;
    font-size: 30px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(247, 249, 250, 0.2);
    transition: all .5s ease-in-out ;
}

.Awesome .container .features div span:hover{ transform: scale(1.2) }

.Awesome .container .features div h4{ text-transform: uppercase; margin: 20px 0 30px 0; }

.Awesome .container .features div p{ font-size: 13px; }

/*  End Awesome Agency    */

/* Start Story   √ */

.story{ width: 100%; height: 700px; }

.story > div {
    
    display: block;
    width: 50%;
    height: 350px;
    float: left;
    padding: 50px 100px ; 
    color: #959595;
}

.story div:first-child{ background-color: #222; }

.story div:nth-child(2){ background-image: url(../images/joz99fahmd1q.jpg) }

.story div:nth-child(3){ background-image: url(../images/y6ws3qnk05ds.jpg) }

.story div:last-child{ background-color: #f3f3f3;}

.story div:first-child h3{color: #fff}

.story div:last-child h3{color: #000;}

.story > div span{ font-size: 10px; }

.story > div h3{ margin: 10px 0 30px 0 ; }

/*  End Story  */

/*  Start Let's Blog √ */

.Lets {
    
    color: #777 ;
    background-color: #fff;
    width: 100%;
    height: 830px;
    padding-top: 50px;
}

.Lets .container header p:first-child{font-size: 30px ; color: #000}

.Lets .container header p:nth-child(2){font-size: 200px ; }

.Lets .container header h3{ line-height: 0; margin-top: 30px}

.Lets .container .features{ width: 100%; height: 250px; margin-top: 100px; display: flex;}

.Lets .container .features div{
    
    width: 25%;
    height: 420px;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
    float: left;
    text-align: center;   
}

.Lets .container .features div img{
    
    float: left;
    width: 100%;
    height: 230px;
    margin: 0 auto 30px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.Lets .container .features div img:hover{ transform: scale(1.1); box-shadow: 10px 10px 10px #ddd; }

.Lets .container .features div h4{ text-transform: uppercase; margin: 10px auto 20px ; color: #12739e;}

.Lets .container .features div p{ font-size: 13px; }

/*  End Let's Blog  */

/* Start Text  √ */

.text{ width: 100%; height: 280px; color: #fff; background-color: #12739e; }

.text .container div{ margin: 30px auto; padding: 70px 50px; width: 50%; display: flex; float: left; transition: all .5s ease-in-out}

.text .container div:hover{transform:scale(.7) translateY(-50px) }
   
.text .container div span{ font-size: 60px; margin-right: 20px }

.text .container div p{ font-size: 12px; line-height: 1.5; padding-top: 5px; }
    
/* End Text */

/* Start AKITA AINU DOG  √ */

.dog{  
    
    height: 730px;
    color: #fff; 
    background-image: url(../images/key.jpg); 
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
    
.dog .container div{ width: 50% ; height: 95%; float: left; }

.dog .container div h2{ margin-bottom: 40px}

.dog .container div p{ margin-bottom: 70px}

.dog .container div:first-child{  padding: 200px 0; }

.dog .container div:first-child span{
    
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: #12739e;
}

.dog .container div:first-child span:first-of-type{ width: 60% ; }

.dog .container div:first-child span:nth-of-type(2){  width: 70% ; }

.dog .container div:first-child span:last-of-type{  width: 80% ;}

.dog .container div:last-child img{ 
    
    display: block;
    width: 260px; 
    height: 540px;
    margin: 100px auto;
    transition: all 2s ease-in-out 
}

.dog .container div:last-child img:hover{ transform: rotateZ(360deg);  }

/* End AKITA AINU DOG */

/*  Start Our Team */

.team{ width: 100%; height: 800px; color: #777 ; background-color: #fff; }

.team .container header{padding-top: 50px; text-align: center}

.team .container header p:first-child{font-size: 40px ; color: #000}

.team .container header h3{ line-height: 0; display: block; margin: 60px auto; }

.team .container .features{ width: 100%; height: 340px; margin-top: 150px; display: flex; }

.team .container .features > div { /* Direct Child */
    
    float: left;
    width: 25%;
    height: 300px;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
    position: relative;
 
}

.team .container .features div span{
    
    position: absolute;
    display: block;
    width: 80%;
    left: 20px;
    bottom: 0;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    transition: all .5s ease-in-out    
}

.team .container .features div span:hover{ cursor: pointer; transform: scale(1.1)}

.team .container .features div span h3{ text-transform:uppercase;padding: 10px 5px; color: #12739e; }

.team .container .features div:first-child{ background-image: url(../images/wv5oyla2i7ch.jpg) ;}

.team .container .features div:nth-child(2){ background-image: url(../images/vikp46dkdjme.jpg) ;}

.team .container .features div:nth-child(3){ background-image: url(../images/y2youp0n1ulp.jpg) ;}

.team .container .features div:nth-child(4){ background-image: url(../images/IMG_20151120_172559.jpg) ;}


/*  Start Our Team */

/*  Start Your-Project    */

.your-project{
    
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 700px; padding-top: 50px;
}

.your-project .container header p:first-child{color: #fff; font-size: 30px; text-transform: uppercase}

.your-project .container header p:nth-child(2){color: #fff; font-family: 'Chewy', cursive; margin-top: -220px}

.your-project .container form {display:inline-block; width: 100%; height: 400px;  }

.your-project .container form div{display: flex; margin: 20px auto}

.your-project .container form div input{
    
    color: #fff;
    float: left;
    width: 33.333%;
    height: 50px;
    background: none;
    padding-left: 10px;
    border-radius: 5px; 
    border: 3px solid #888
}

.your-project .container form textarea{
    
    color: #fff;
    resize: none;
    border: 3px solid #888;
    background: none;
    padding: 10px;
    height: 150px;
    margin: 10px 0 50px;
    border-radius: 5px;
}

.your-project .container form button{
    
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #12739e;
    font-size: 30px;
    border: 0;
    padding: 15px 50px;
    text-transform: uppercase;
    transition: all .3s ease-in-out; 
    font-family: 'Chewy', cursive;
    border-radius: 5px;
}

.your-project .container form button:hover{cursor: pointer; background-color: rgba(18, 115, 158, 0.65)}

.your-project .container form input:nth-child(2),
.your-project .container form input:nth-child(3){margin-left: 15px}

.your-project .container form textarea{ width: 100% ; }

/*  End Your-Project    */

/* Start map*/

.map{ height: 300px; }

/* End map*/

/* Start Footer */

.end footer{width: 100%; height: 100px; background-color: #12739e;}

.end footer .container{padding: 40px 30px;  color: #fff ;font-family: 'Chewy', cursive ;font-size: 25px}

.end footer .container p:first-child{float: left}

.end footer .container p:last-child{float: right}

/* End Footer */

/* Start My Frame work */

.container{  width: 1200px;  height: 100%; margin:  auto; }

.mix{  height: 200px; line-height: 200px; text-align: center; }

.mix p:first-of-type{font-size: 25px; z-index: 2}

.mix p:nth-child(2){ margin-top: -200px; font-size: 250px; opacity: .3; z-index: 1; font-family: 'Ubuntu', sans-serif; }

/* End My Frame work */

    
    